.box{
   display: flex !important;
   align-items: center !important;
}
.calculator-space{
    padding: 10px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}
.result{
    padding: 10px;
    color: blue;
    align-items: center;
}
.error{
    padding: 10px;
    color: red;
    align-items: center;
}